.navbar{
    background-color: white;
}

.brand{
    display: inline-flex;
    padding: 15px;
    color: #ff4654;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
    line-height: 50px;
}