.navbar{
    background-color: white;
}

.brand{
    display: inline-flex;
    padding: 15px;
    color: #ff4654;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
    line-height: 50px;
}

.brand-version{
    font-size: 12px;
    color: grey;
    margin-left: 14px;
}