<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <title>Octolert Console</title>
    <meta name="description" content="Octoler Console">
    <link rel="shortcut icon" href="<%- basePath %>/favicon.ico" type="image/x-icon">
    <link rel="icon" href="<%- basePath %>/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700" rel="stylesheet">
    <link href="<%- basePath %>/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type='text/javascript'>
      var __APPDATA__ =<%-JSON.stringify(appData)%>
    </script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
      Loaded
    <div id="app"></div>

    <a href="/auth/globoards?clientId=5j8tphqiovvrj7775mom&secret=2tx3zbui2pp8c77w6xu8atn5c2g2o2dd35wpwnlo">Integrate</a>

    <script src="/bundle.js"></script>
  </body>
</html>